#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


# $Format: "my $package_name = \"${package}\";"$
my $package_name = "gipyshell";

# $Format: "my $package_version = \"${label}\";"$
my $package_version = "alpha";


my $config
    = {
       core_directory => './',
       description => 'Function tests of the gipyshell.',
       environment_settings => {
				NEUROSPACES_BUILD_TESTING => ('testing from ' . `pwd`),
			       },
       package => {
		   name => $package_name,
		   version => $package_version,
		  }
      };


return $config;


